<div id="nav">
	<ul>
		<li><a class="{% if page.id == "home" %}active{% endif%}" href="{{site.baseurl}}/">Home</a></li>
		<li><a class="{% if page.id == "html" %}active{% endif%}" href="{{site.baseurl}}/html/">HTML</a></li>
		<li><a class="{% if page.id == "css" %}active{% endif%}" href="{{site.baseurl}}/css/">CSS</a></li>
		<li><a class="{% if page.id == "JS" %}active{% endif%}" href="{{site.baseurl}}/js/">JS</a></li>
		<li><a class="{% if page.id == "images" %}active{% endif%}" href="{{site.baseurl}}/images/">images</a></li>
	</ul>
</div>